<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title"> Teacher Tables </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= admin_teachers_path %>">Teacher Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Teachers</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Teacher table</h4>
          <!-- <p class="card-description"> Add class <code>.table-bordered</code> -->
          <table class="table table-bordered table-responsive">
            <thead>
              <tr>
                <th>First name</th>
                <th>Middle name</th>
                <th>Last name</th>
                <th>Qualification</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Desination</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Destroy</th>
              </tr>
            </thead>

            <tbody>
              <% @teachers.each do |teacher| %>
              <tr>
                <td><%= teacher.first_name %></td>
                <td><%= teacher.middle_name %></td>
                <td><%= teacher.last_name %></td>
                <td><%= teacher.qualification %></td>
                <td><%= teacher.mobile %></td>
                <td><%= teacher.email %></td>
                <td><%= teacher.desination %></td>
                <td><%= button_to "show", admin_teacher_path(teacher), method: :get, class: "btn btn-gradient-info btn-fw"  %></td>
                <td><%= button_to "Edit", edit_admin_teacher_path(teacher), method: :get, class: "btn btn-gradient-primary btn-fw"  %></td>
                <td><%= button_to "Destroy", admin_teacher_path(teacher), method: :delete, class: "btn btn-gradient-danger btn-fw", data: { confirm: 'Are you sure?' }  %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
