<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title"> Teacher Details </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= admin_teachers_path %>">Teacher Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">Show Teacher Details</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Teacher Details</h4>
          <div class="row">
            <div class="col-md-6">
              <p class="text-info">First name:</p>
              <p class="text-info">Middle name:</p>
              <p class="text-info">Last name:</p>
              <p class="text-info">Qualification:</p>
              <p class="text-info">Mobile:</p>
              <p class="text-info">Email:</p>
              <p class="text-info">Desination:</p>
            </div>
            <div class="col-md-6">
              <p class="text-light bg-dark pl-1"><%= @teacher.first_name %></p>
              <p class="text-light bg-dark pl-1"><%= @teacher.middle_name %></p>
              <p class="text-light bg-dark pl-1"><%= @teacher.last_name %></p>
              <p class="text-light bg-dark pl-1"><%= @teacher.qualification %></p>
              <p class="text-light bg-dark pl-1"><%= @teacher.mobile %></p>
              <p class="text-light bg-dark pl-1"><%= @teacher.email %></p>
              <p class="text-light bg-dark pl-1"><%= @teacher.desination %></p>
            </div>
          </div>&nbsp;
          <div class="text-center">
            <%= button_to "Edit", edit_admin_teacher_path(@teacher), method: :get, class: "btn btn-outline-primary" %>
            <%= button_to "Back", admin_teachers_path, method: :get, class: "btn btn-outline-primary "  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
