<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title"> Parent Tables </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= teachers_parents_path %>">Parent Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Parents</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Parent table</h4>
          <table class="table table-bordered table-responsive">
            <thead>
              <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Occupation</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Show</th>
              </tr>
            </thead>

            <tbody>
              <% @parents.each do |parent| %>
              <tr>
                <td><%= parent.name %></td>
                <td><%= parent.gender %></td>
                <td><%= parent.occupation %></td>
                <td><%= parent.address %></td>
                <td><%= parent.phone %></td>
                <td><%= parent.email %></td>
                <td><%= button_to "show", teachers_parent_path(parent), method: :get, class: "btn btn-gradient-info btn-fw"  %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
