<html>
  <head>
    <title>SchoolManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- plugins:css -->
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <!-- End layout styles -->
    <!-- <link rel="shortcut icon" href="assets/favicon.png" /> -->
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-scroller">
      <%= render 'students/header' %>
      <div class="container-fluid page-body-wrapper">
        <%= render 'students/sidebar' %>
        <div class="main-panel">
          <%= yield %>
          <%= render 'students/footer' %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'admin' %>
  </body>

</html>
